attrs
biopython 
Bottleneck
Brotli 
brotlipy 
certifi 
cffi 
charset-normalizer 
click 
colorama 
colour==0.1.5
cryptography 
dash 
dash-bio 
dash-bootstrap-components 
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table 
Flask 
Flask-Compress 
future 
GEOparse 
idna 
importlib-metadata 
importlib-resources 
iniconfig 
itsdangerous 
Jinja2 
joblib 
jsonschema 
MarkupSafe 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
numexpr 
numpy 
packaging 
pandas==1.5.1
ParmEd 
periodictable==1.5.2
pkgutil_resolve_name 
plotly 
pluggy 
py 
pycparser 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==7.1.2
python-dateutil 
pytz 
PyYAML==6.0
requests 
scikit-learn 
scipy==1.9.3
six 
tenacity 
threadpoolctl 
tomli 
tqdm 
typing_extensions 
urllib3 
Werkzeug 
zipp 
